@font-face {
    font-family: "scribish";
    src: url("../fonts/scribish.ttf");
}

@font-face {
    font-family: "writter";
    src: url("../fonts/atwriter.ttf");
}

#mcflan {
    color: red;
    font-style: italic;
}
#hello {
    color: red;
}

.red {
    color: red;
}

.blue {
    color: blue;
}

.gras {
    font-weight: bold;
    font-style: italic;
    font-size: 5rem;
}

.btn {
    background-color: pink;
    padding: 2em;
    border-radius: 30px;
}

.pink {
    background-color: pink;
}

.chartreuse {
    background-color: chartreuse;
}

.center {
    width: 80%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
}

#likes {
    display: inline-block;
    margin-left: 2em;
    font-size: 3em;
}

body {
    background-color: white;
    color: black;
}

.white {
    background-color: white;
}
.bouton {
    padding: 2em;
    border-radius: 30px;
}

.texte {
    font-size: 1em;
    color: red;
}

.textes {
    font-size: 3em;
    color: red;
}

.image-round {
    border-radius: 50%;
    filter: grayscale(100%);
    margin-bottom: 10vh;
}

.w-20 {
    width: 20%;
    margin-left: auto;
    margin-right: auto;
    font-size: 1.5em;
}

.w-20::first-letter {
    font-weight: bold;
    font-size: 2.5em;
    margin-left: 5%;
}

#paywall {
    position: relative;
    height: 20px;
    width: 40%;
    margin-left: auto;
    margin-right: auto;
}

#paywall::before {
    background: linear-gradient(180deg,hsla(0,0%,100%,0) 0,#fff);
    content: "";
    height: 400px;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 100%;
}

#money {
    color: white;
    height: 500px;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    background-image: url("../img/presidautruche.jpeg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

#no-money {
    color: white;
    height: 500px;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    background-image: url("../img/pierre.jpeg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.flouz {
    font-size: 2em;
}

#btn-money {
    padding:1.3em 3em 1.3em 3em;
    margin-bottom: 3em;
    border-radius: 15px;
    background-color: #75856B;
    color: beige;
    animation-name: billet;
    animation-duration: 0.5s;
    animation-iteration-count: infinite;
}

@keyframes billet {
    0% {
        transform: rotate(15deg);
    }
    33% {
        transform: rotate(-15deg);
    }
    66% {
        transform: rotate(-15deg);
    }
    100% {
        transform: rotate(15deg);
    }
}

label {
    display: block;
    margin-bottom: 1em;
}

#Add {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#task {
    display: block;
    margin-left: auto;
    margin-bottom: 1em;
    margin-right: auto;
}

#task {
    height: 2em;
    width: 20%;
}

#task::placeholder {
    font-family: 'scribish';
}

#scroll {
    height: 40vw;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url("../img/parchemin.png");
}

h1 {
    font-family: 'scribish';
}

#Add {
    font-family: 'scribish';
    font-size: 2em;
    padding: 0.5em;
    border-radius: 20px;
}

#list {
    padding-top: 5%;
    padding-right: 3%;
}

ul {
    padding-top: 5%;
    padding-right: 3%;
}

li {
    font-size: 1.3em;
    padding-top: 1.5%;
    list-style: none;
}

li::selection {
    background: transparent;
}

li::-moz-selection {
    background: transparent;
}

.no-strike {
    text-decoration: none;
    cursor: pointer;
}

.strike {
    text-decoration: underline 3px;
    text-decoration-color: red;
    text-underline-offset: -0.3em;
    text-decoration-skip-ink: none;
    cursor: pointer;
}

h2, p {
    font-family: "writter";
}

.btn-int {
    width: 10%;
    height: 40%;
    color: white;
    background-color: blue;
    border: 1px solid lightblue;
    border-radius: 2%;
}

h2 {
    padding-bottom: 5%;
}

ul {
    margin-right: 5%;
    margin-left: 5%;
}

#p-interroger {
    color: red;
}

#interroger {
    color: red;
}

.column {
    width: 15%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}